@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: #004f4f; /* #3a3a3a*/
}

/* Headings and Logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;  /*4*/
    color: #252525;
}

#logo {
    float: right;      /*left*/
    font-size: 200%; /*280*/
    margin-right: 30px;  /*left*/
}
